
/* imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
#bagButton:hover {
  color: purple !important;
  font-weight: bold !important;
  border: solid 2px purple !important;
}
#addOutfitButton:hover {
  color: purple !important;
  border: solid 2px purple !important;
}
mark {
  background-color: cyan;
}
#questionsBody {
  margin-left: 13%;
  margin-right: 13%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  color: #444444;
}
#questionsHeader {
  font-family: Verdana;
  font-weight: lighter;
}
#questionSearch {
  padding: 10px;
  border-radius: 0;
  border: 1px solid black
}
.question {
  display: flex;
  flex-direction: column;
}
.questionHeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionButtonRow {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.qaLinkButton {
  text-decoration: underline;
  cursor: pointer;
  font-family: Verdana;
  font-weight: lighter;
  font-size: small;
}
.qaNonLink {
  font-family: Verdana;
  font-weight: lighter;
  font-size: small;
  color: #666666;
}
.qaClicked {
  text-decoration: underline;
  cursor: pointer;
  font-family: Verdana;
  font-weight: lighter;
  font-size: small;
  color: fuchsia;
}
.qaHeader {
  font-family: Verdana;
  font-weight: 600;
  color: #444444;
}
.answerBody {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.answerText {
  font-family: Verdana;
  width: 67%;
  margin: 0;
  color: #444444;
}
.answerImageRow {
  display: flex;
  flex-direction: row;
}
.answerImage {
  width: 10%;
  height: 10%;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.expandedAnswerImage {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  cursor: pointer;
}
.addQuestionDiv {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
.formInput {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1%;
  border-radius: 5px;
  border: 2px solid #666666;
}
.questionFormBox {
  margin: 5% 5% 5% 5%;
  background-color: #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  border: 3px solid green;
  border-radius: 10px;
}
.questionForm {
  display: flex;
  flex-direction: column;
}
.questionTextArea {
  font-family: Verdana;
}
.answerBottomRow {
  display: flex;
  align-items: center;
}
.loadAnswersButton {
  font-family: Verdana;
  font-variant: small-caps;
  margin-left: 2%;
  font-weight: bold;
  cursor: pointer;
}
.qaWidgetButtonRow {
  display: flex;
  flex-direction: row;
}
.qaWidgetButton {
  font-family: Verdana;
  padding-left: 1.3%;
  padding-right: 1.3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 1%;
  border: 1px solid black;
  color: #444444;
  cursor: pointer;
}
.formPrompt {
  font-family: Verdana;
  font-variant: small-caps;
  font-size: larger;
  margin: 0 0 0 2%;
  font-weight: normal;
  color: blue;
}
.submitQuestion {
  position: relative;
  width: 16%;
  height: 12%;
  left: 42%;
  margin-top: 3%;
  font-family: Verdana;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 0;
  border: solid 2px black;
  cursor: pointer;
}
.submitQuestion:hover {
  border: solid 2px fuchsia;
  color: blue;
}
.questionAlertsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questionAlert {
  margin: 0;
  color: red;
  font-family: Verdana;
}
.uploadedImages {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
}
.uploadedImage {
  border: 0;
  width: 100px;
  height: 100px;
  padding: 8px;
  object-fit: cover;
}
.fileLoadRow {
  display: flex;
  flex-direction: row;
}
.fileButton {
  margin-left: 5px;
}
input[type="text"]
{
  font-size: 15px;
  font-family: Verdana;
  font-weight: lighter;
  color: #333333;
}
:root {
  --noto: 'Noto Sans JP', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --size-xs: 12px;
  --size-sm: 16px;
  --size-m: 20px;
  --size-lg: 24px;
  --size-xl: 90px;
  --gl-color-light-grey: #ebedee;
  --gl-color-primary: #000000;
}

.box{
  display:flex;
  justify-content: space-around;
}

.child {
  display: flex;
  flex-direction: column;
}
.child > .child-ratingreview {
  font-size: var(--size-m);
  font-family: var(--noto);
}
.avgrating-avgstar {
  display:flex;
  justify-content: space-evenly;
}
.average-rating {
  font-size: var(--size-xl);
  font-family: var(--roboto);
}

.percentage {
  font-family: var(--noto);
  font-size: var(--size-m);
}
/* bar logic */
/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
  visibility: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.flex-row {
  display: flex;
}
.bar-5 { height: 18px; background-color: #000000}
.bar-4 {width: 30%; height: 18px; background-color: #000000}
.bar-3 {width: 10%; height: 18px; background-color: #000000}
.bar-2 {width: 4%; height: 18px; background-color: #000000}
.bar-1 {width: 15%; height: 18px; background-color: #000000}

/* size scales */
.gl-vspace-bpall-small {
  margin-top: 50px;
}
/* .size-scale {
  height: 12px;
  width: calc(100% - 38px);
  background-color: #eee;
  position: relative;
  margin-bottom: 8px;
} */

/* cut the scale div's width to fit better */
.gl-comparison-bar__bg, .gl-comparison-bar__labels {
  width: calc(100% - 38px);
}


.remove-intersections___3rBx6 , .gl-comparison-bar__title {
  font-size: 14px;
}
.gl-comparison-bar--triangle , .gl-comparison-bar__bg {
  overflow: visible;
}
.remove-intersections___3rBx6 .gl-comparison-bar__indicator {
  border-width: 14px 7px;
  top: -4px;
}
.gl-comparison-bar--triangle .gl-comparison-bar__indicator {
  background-color: transparent;
  border: 8px solid transparent;
  height: auto;
  width: 0;
  border-top-color: var(--gl-color-primary);
}
.gl-comparison-bar__title > p {
  font-size: var(--size-sm);
  font-family: var(--noto);
}
.gl-comparison-bar__labels > label {
  font-size: var(--size-sm);
  font-family: var(--noto);
}
.gl-comparison-bar__indicator {
  background-color: var(--gl-color-primary);
  height: 4px;
  position: absolute;
  top: 0;
  width: 49px;
  z-index: 3;
}
.gl-comparison-bar__title {
  display: inline-flex;
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;
}
.gl-comparison-bar__bg {
  background-color: var(--gl-color-light-grey);
  height: 4px;
  overflow: hidden;
  position: relative;
}
.gl-comparison-bar__label {
  color: var(--gl-color-dark-grey);
  display: block;
  font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
}
.gl-comparison-bar__labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.box-child-2 {
  margin-top: 50px;
}
.sub-review-num {
  margin-bottom: 30px;
  font-size: var(--size-lg);
  font-family: var(--roboto);
}
.sub-review-num > * {
  font-size: var(--size-lg);
  font-family: var(--roboto);
}
.sub-review-body {
  font-size: var(--size-lg);
  font-family: var(--roboto);
}
.sub-recommend {
  font-size: var(--size-sm);
  font-family: var(--noto);
}
/* review list */
.review-list {
  display: flex;
  flex-direction: column;
}
.review-list > div {
  margin-bottom: 10px;
}
.review-star-name-date {
  display: flex;
  justify-content: space-between;
}
.review-star-name-date > .name-date {
  font-size: var(--size-xs);
  font-family: var(--noto);
}

.sub-helpful {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--size-xs);
  font-family: var(--noto);
}
.sub-1 {
  margin-right: 2px;
}
.vertLine {
  margin-left: 7px;
  margin-right: 7px;
}
.helpfulness, .report{
  border-bottom: 1px solid darkgrey;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-top: auto;
}

select {
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  outline: none;
}

/* star logic */

.star {
  display: inline-block;
  position: relative;
  color: #ddd;
}

.star-whole:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: gold;
}

.star-3-4:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  overflow: hidden;
  color: gold;
}
.star-2-4:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  color: gold;
}
.star-1-4:after {
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  overflow: hidden;
  color: gold;
}

/* button css */

.two-Button {
  display: flex;
  flex-direction: row;
}
.two-Button-child1 {
  margin-right: 15px;
}
.button-moreReview, .button-addReview {
    font-size: var(--size-sm);
    font-family: var(--roboto);
}

